$black: #000;
$white: #FFF;
$gray-dark: #212121;
$gray: #BDBDBD;
$gray-light: #F5F5F5;
$blue-gray-dark: #263238;
$blue-gray: #37474F;
$blue-gray-light: #607D8B;

$red: #F44336;
$pink: #E91E63;
$purple: #9C27B0;
$deep-purple: #673AB7;
$indigo: #3F51B5;
$blue: #2196F3;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$light-green: #8BC34A;
$lime: #C0CA33;
$yellow: #FDD835;
$amber: #FFC107;
$orange: #FF9800;
$deep-orange: #FF5722;

$black87: rgba($black, 0.87);
$black54: rgba($black, 0.54);
$black26: rgba($black, 0.26);
$black12: rgba($black, 0.12);
$black9: rgba($black, 0.09);
$black6: rgba($black, 0.06);

$white87: rgba($white, 0.87);
$white54: rgba($white, 0.54);
$white26: rgba($white, 0.26);
$white12: rgba($white, 0.12);
$white9: rgba($white, 0.09);
$white6: rgba($white, 0.06);

$primary: #2ECC71;
$primary-light: #9BE8BB;
$primary-dark: #26A65B;

$accent: #03A9F4;
$accent-light: #81D4FA;
$accent-dark: #0288D1;

$danger: #e84e40;
$danger-dark: #dd191d;
$danger-light: #f69988;

.bg-color-red {
  background-color: $red !important;
}

.bg-color-deep-orange {
  background-color: $deep-orange !important;
}

.bg-color-orange {
  background-color: $orange !important;
}

.bg-color-amber {
  background-color: $amber !important;
}

.bg-color-yellow {
  background-color: $yellow !important;
}

.bg-color-lime {
  background-color: $lime !important;
}

.bg-color-light-green {
  background-color: $light-green !important;
}

.bg-color-green {
  background-color: $green !important;
}
