input, select, textarea, .form-control {
  -webkit-transition: border-color .15s ease-out;
  -moz-transition: border-color .15s ease-out;
  transition: border-color .15s ease-out;

  border-radius: 1px;
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px $white inset;

    &:focus {
      -webkit-box-shadow: 0 0 0 50px $white inset;
    }
  }

  &:focus {
    border-color: $primary;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  ::-webkit-input-placeholder {
     color: $gray;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: $gray;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: $gray;
  }

  :-ms-input-placeholder {
     color: $gray;
  }
}

.input-group {
  width: 100%;
  .form-group {
    width: 80%;
    margin: 0;

    input, select, textarea, .form-control {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: 100%;
    }
  }

  button, .btn, input[type="submit"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 20%;
  }

/*  @media (max-width: $phone) {
    .form-group {
      width: 60%;
    }

    button, .btn, input[type="submit"] {
      width: 40%;
    }
  }*/
}