@mixin body-font {
  font-family: HelveticaNeue, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;
}

@import './_colors';

body {
  @include body-font;
  font-weight:  400;
  font-size: 14px;
  line-height: 1.428571429;
  color: $black87;
  background-color: $gray-light;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

  button, input, select, textarea, .form-control {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
  }
}